<!DOCTYPE html>
<html>

    <head>Basic Web App
        <link href=" /assets/style.css" rel="stylesheet" type="text/css" />
    </head>
    

    <body>
        <%- include ('partials/nav.ejs') %>
        <h1>WELCOME <%= data.name%> 'S Profile</h1>
        <p><strong>Age :</strong><%=data.age%></p>
        <p><strong>Job :</strong><%=data.job%></p>
        <h2>
            <ul>
                <% data.hobbies.forEach(function(item){%>
                    <li><%= item%></li>
                <%});%>
            </ul>
        </h2>
    </body>
    </html>